---
permalink: /
---
<!doctype html>
<html lang="de">
  <head>
    <!-- 1 charset/http-equiv/viewport -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>howdy</title>
  </head>
  <body>
    <span>{{ "hello world" | someFilter }}</span>
    {% include "components/bla.njk" %}
  </body>
</html>
